/* NAVBAR */

#homeBtn {
    font-size: 30px;
    margin-right: 15px;
}

#aboutBtn {
    font-size: 23px;
    margin-right: 15px;
}

#portfolioBtn {
    font-size: 23px;
    margin-right: 15px;
}

#contactBtn {
    font-size: 23px;
    margin-right: 15px;
    
}

/* HOME PAGE ITEMS */

#homeLauren {
    text-align: center;
}

#descriptionHome {
    text-align: center;
}

.viewMoreBtn {
    text-align: center;
    
    
}
.viewMore {
    border-color: black;
    border-width: 2px;
    font-weight: 700;
    border-style: solid;
    padding: 8px;
    color: black;
}

/* ABOUT ME PAGE STUFF */
.profileImg {
    max-height: 70%;
}

#bioText {
    font-size: larger;
}

/* PORTFOLIO STUFF */
.titleText {
    color: white;
    text-align: center;
    margin-top: 3%;
}

.descriptionText {
    color: white;
    text-align: center;
}
.carouselItem {
    /* pictures on carousel */  
    padding: 15px;
    margin: 15px;
    max-height: 2000px;
}
.carouselContainer {
    background-color: rgb(23, 23, 23);

}

#carouselWrapper {

    padding: 15px;
}
/* FOOTER STUFF */
#madeByText {
    text-align: center;
}