/* NAVBAR */

#homeBtn {
    font-size: 30px;
    margin-right: 15px;
}

#aboutBtn {
    font-size: 23px;
    margin-right: 15px;
    float: right;
}

#portfolioBtn {
    font-size: 23px;
    margin-right: 15px;
    float: right;
}

#contactBtn {
    font-size: 23px;
    margin-right: 15px;
    float: right;
}

/* HOME PAGE ITEMS */

#homeLauren {
    text-align: center;
}

#descriptionHome {
    text-align: center;
}

.viewMoreBtn {
    text-align: center;
    
    
}
.viewMore {
    border-color: black;
    border-width: 2px;
    font-weight: 700;
    border-style: solid;
    padding: 8px;
    color: black;
}

/* FOOTER STUFF */
#madeByText {
    text-align: center;
}