/* NAVBAR */

#homeBtn {
    font-size: 30px;
    margin-right: 10px;
    color: rgb(78, 34, 34);
    font-weight: 600;
}

#aboutBtn {
    font-size: larger;
    margin-right: 15px;
    color: rgb(139, 68, 68);

}

#portfolioBtn {
    font-size: larger;
    margin-right: 15px;
    color: rgb(139, 68, 68);

}

#contactBtn {
    font-size:larger;
    margin-right: 15px;
    color: rgb(139, 68, 68);
    
}

/* GENERAL */
.pageTitle {
    background-color: rgb(173, 97, 97);
    padding: 10px;
    color: white;
    margin: 15px;
}

body {
    background-image: url(./Images/whitePaint.jpeg);
    max-height: 100vh;
    
    /* background-repeat: repeat-y;
    background-repeat: repeat-x;  */
    
    
}

/* HOME PAGE ITEMS */

#homeLauren {
    text-align: center;
    margin-top: 1%;
    /* background-color: rgb(173, 97, 97); */
    color: Black;
}

#descriptionHome {
    text-align: center;
    padding: 3%;
    margin: 1%;
}

/* LINKS ON LANDING PAGE */
.viewMoreBtns {
    text-align: center;
    /* margin-top: 1%; */
   margin-top: 1rem;

}
.homeNav {
    margin: 0.5rem;
    padding: 1.4rem;
    color: black;
     border-width: 1px;
    border-color: black;
    border-style: solid;
}

.viewMore {
    border-color: black;
    border-width: 2px;
    font-weight: 700;
    border-style: solid;
    padding: 8px;
    color: black;
    padding: 1%;
    font-weight: 800;
    background-color: lightcoral;
}

/* ABOUT ME PAGE STUFF */

#bioText {
    font-size: 1rem;
    text-align: center;
    padding-left: 2rem;
    padding-right:2rem;
    background-color: rgba(255, 255, 255, 0.397);
    
    
}

/* PORTFOLIO STUFF */

.repoLink, .liveLink {
    color: white;
    border-style: solid;
    padding: 3px;
    margin: 3px;
    border-color: rgb(182, 143, 143);
    background-color: rgb(170, 70, 70);
    font-size: small;

}
.liveLink {
    margin-left: 1%;
}


/* CONTACT STUFF */
.githubLink {
    text-align: center;
    /* margin: 4%; */

}

.linkedinLink {
    text-align: center;
    

}

.contactLinks {
    color: rgb(82, 42, 42);
    border-style: solid;
    border-color: black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.712);
    font-size: large;
    
}

#carouselWrapper {

    padding: 15px;
}


/* FOOTER STUFF */
#madeByText {
    text-align: center;
    margin: 0px;
    /* padding: 10px; */
    font-size: 15px;
    background-color: rgba(255, 255, 240, 0.603);
}